DATABASE_URL=postgresql://postgres:postgres@localhost:5432/task_board_test
PORT=3001
JWT_SECRET=test_secret
JWT_EXPIRES=1d
FRONTEND_URL=http://localhost:3001
NODE_ENV=test
GOOGLE_CLIENT_ID=test
GOOGLE_CLIENT_SECRET=test
GOOGLE_CALLBACK_URL=http://localhost:3001/auth/google/callback
GITHUB_CLIENT_ID=test
GITHUB_CLIENT_SECRET=test
GITHUB_CALLBACK_URL=http://localhost:3001/auth/github/callback
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_HOST=localhost
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
EMAIL_FROM=noreply@example.com
STRIPE_SECRET_KEY=test
STRIPE_PUBLISHABLE_KEY=test
STRIPE_SUCCESS_URL=http://localhost:3001/payment/success
STRIPE_CANCEL_URL=http://localhost:3001/payment/failure
STRIPE_WEBHOOK_SECRET=test
