POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/postgres"
PORT=3000
JWT_SECRET=secret
JWT_EXPIRES=1d
FRONTEND_URL=http://localhost:3001
NODE_ENV=production
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback
REDIS_PASSWORD=mysecretpassword123
REDIS_PORT=6379
REDIS_HOST=redis
